@import "config/config-dir";

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: sofia-pro, sans-serif;
    word-spacing: 0;
    text-shadow: none;
    box-shadow: none;
}
