@import "config/config-dir", "components/components_dir";

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: sofia-pro, sans-serif;
    word-spacing: 0;
    text-shadow: none;
    box-shadow: none;
}
html,
body,
#__next {
    width: 100%;
    height: 100%;
}
#__next {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "header"
        "main";

    & > #mainHeader {
        grid-area: header;
    }

    & > main {
        grid-area: main;

        background-color: $bg-primary;

        padding: 1% 1% 0 1%;
    }
}
.white-fill {
    fill: $white;
}
.red-fill {
    fill: $red;
}