.mainHeader {
    padding-left: 12rem;
    display: grid;
    grid-template-columns: 10rem 1fr;
    background-color: $bg-primary-lighten;
    border-bottom: 0.4rem solid $bg-primary-darken;

    & > svg {
        width: 90%;
        height: 90%;

        @include respond(small) {
            display: none;
        }
    }

    & > h1 {
        height: min-content;
        margin: auto 0;
        color: $secondary;
        text-transform: capitalize;
        
    }

    @include respond(small) {
        grid-template-columns: 1fr;
    }
}
