#signup {
    display: grid;
    place-items: center;

    form {
        background-color: $bg-primary-lighten;
        border: $bg-primary-darken 0.4rem solid;
        border-radius: 0.4rem;
        display: grid;
        place-items: center;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr;
        grid-template-areas:
            "title title"
            ". ."
            ". ."
            "btn1 btn2";

        width: 40%;
        height: 50%;

        h2 {
            grid-area: title;
            text-transform: capitalize
        }

        .btn {
            &-1 {
                @extend .btn;
                grid-area: btn1;
            }
            &-2 {
                @extend .btn;
                grid-area: btn2;
            }

            width: 50%;
            height: fit-content;

            background-color: $bg-primary-lighten;
            border: solid 0.2rem $bg-primary-darken;
            border-radius: 0.4rem;

            font-size: 1.2rem;
            &:focus, &:hover {
                color: $black;
                background-color: $white;
            }
        }

        .inputField {
            grid-column: auto / span 2;
            display: flex;
            gap: 1rem;
            font-size: 1.5rem;
            border: solid 0.2rem $bg-primary-darken;
            border-radius: 0.4rem;
            width: 80%;

            input {
                width: 100%;
            }

            @include respond(medium) {
                flex-direction: column;
                gap: 0;

                input {
                    font-size: 1.5rem;
                }
            }
        }

        @include respond(big) {
            width: 65%;
        }
        @include respond(medium) {
            width: 70%;
        }
        @include respond(small) {
            width: 100%;
        }
    }
}